CREATE DATABASE [SQLtest]
 CONTAINMENT = PARTIAL
 ON  PRIMARY 
( NAME = N'SQLtest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SQLtest.mdf' , SIZE = 3072KB , FILEGROWTH = 1024KB ),
( NAME = N'SQLname', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SQLname.ndf' , SIZE = 3072KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SQLtest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SQLtest_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
 COLLATE Persian_100_BIN
GO
USE [SQLtest]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [SQLtest] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
